= form_for([@clinic]) do |f|
  - if @clinic.errors.any?
    - @clinic.errors.full_messages.each do |message|
      = message
      %br
.text-center
  .list-group-item
    = form_for @clinic do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control name_field"
        %span.error_name
          Clinic name required
      .form-group
        = f.label :st_address
        = f.text_field :st_address, class: "form-control"
      .form-group
        = f.label :city
        = f.text_field :city, class: "form-control"
      .form-group
        = f.label :state
        = f.select :state, options_for_select(Clinic::US_STATE_OPTIONS, f.object.state), include_blank: "----Select State___"
      %br
        = f.submit "Submit", class: "btn btn-primary submit"
    %br
